.chats{
    position: relative;
    height: 500px;
    width: 280px;
    margin-top: 0;
}

.chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgb(71, 102, 180);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    height: 45px;
}
.chat-input>input::placeholder{
    color: white;
    font-style: italic;
    opacity: 1;
}
.chat-input{
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 5px;
}
.chat-input>input{
    outline: none;
    background: transparent;
    border: none;
    color: white;
    flex: 1;
}
.chat-posts{
    position: relative;
    top: -1%;
    background-color: white;
    height: 460px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
    overflow: scroll; 
}
.chat-posts::-webkit-scrollbar{
    display: none;
}
.profile-chat-avatar{
    cursor: pointer;
    margin: 2px;
    height: 25px !important;
    width: 25px !important;
}
.take-snap-radio{
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: transparent;
    transform: translate(-50%,-50%);
    cursor: pointer;
    font-size: 40px !important;
    color: gray;
}
.take-snap-radio:hover{
    opacity: 0.8;
}