.login{
    background-color: yellow;
    display: grid;
    place-items: center;
    width: 500px;
    height: 50%;
    margin-top: 200px;
   
    
}
.login-container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    width: 100%;


}
.login-container>img{
    height: 100px;
    width: 100px;
}
.login-container>button{
    
    width: 100%;
}